:root {
  --navy: #0f204c;
  --navy-hsl: 223.3 67% 17.8%;
  --orange: #F7781D;
  --orange-hsl: 25 93.2% 54.1%;

  --background: 0 0% 100%;      /* white */
  --foreground: 222.2 84% 4.9%; /* black */
  --foreground: 223.3 67% 17.8%; /* NAVY */

  --card: 240 5% 96%; /* Light grayish blue */
  --card-foreground: 222.2 84% 4.9%; /*  Very dark (mostly black) blue */

  --popover: 0 0% 100%; /* white */
  --popover-foreground: 222.2 84% 4.9%; /*  Very dark (mostly black) blue */

  --primary: 222.2 47.4% 11.2%; /*  Very dark (mostly black) blue */
  --primary-foreground: 210 40% 98%; /* Light grayish blue. */

  --secondary: 210 40% 96.1%; /* Light grayish blue. */
  --secondary-foreground: 222.2 47.4% 11.2%; /*  Very dark (mostly black) blue */

  --muted: 210 40% 96.1%; /* Light grayish blue. */
  --muted-foreground: 215.4 16.3% 46.9%; /* Mostly desaturated dark blue. */

  --accent: 210 40% 96.1%; /* Light grayish blue. */
  --accent-foreground: 222.2 47.4% 11.2%; /*  Very dark (mostly black) blue */
  --accent-foreground: 223.3 67% 17.8%; /* NAVY */

  --destructive: 0 84.2% 60.2%; /* Bright red. */
  --destructive-foreground: 210 40% 98%; /* Light grayish blue. */

  --border: 240 6% 80%; /* Grayish blue. */
  --input: 214.3 31.8% 91.4%; /* Light subtle blue */
  --ring: 222.2 84% 4.9%; /*  Very dark (mostly black) blue */

  --radius: 0.2rem;

  --success: 196 52% 74%; /*  Very soft blue */
  --warning: 34 89% 85%; /* Very soft orange. */
  --error: 10 100% 86%; /* Pale red [Pink tone]. */
}

[data-theme='dark'] {
  --background: 0 0% 0%; /* black */
  --background: 223.3 67% 17.8%; /* NAVY */
  --foreground: 210 40% 98%; /* Light grayish blue. */

  --card: 0 0% 4%; /* black */
  --card: 223.3 67% 17.8%; /* NAVY */
  --card-foreground: 210 40% 98%; /* Light grayish blue. */

  --popover: 222.2 84% 4.9%; /*  Very dark (mostly black) blue */
  --popover-foreground: 210 40% 98%; /* Light grayish blue. */

  --primary: 210 40% 98%; /* Light grayish blue. */
  --primary-foreground: 222.2 47.4% 11.2%; /*  Very dark (mostly black) blue */
  --primary-foreground: 223.3 67% 17.8%; /* NAVY */

  --secondary: 217.2 32.6% 17.5%; /* Very dark desaturated blue */
  --secondary-foreground: 210 40% 98%; /* Light grayish blue. */

  --muted: 217.2 32.6% 17.5%; /* Very dark desaturated blue */
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%; /* Very dark desaturated blue */
  --accent-foreground: 210 40% 98%; /* Light grayish blue. */

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%; /* Light grayish blue. */

  --border: 0, 0%, 15%, 0.8;
  --input: 217.2 32.6% 17.5%; /* Very dark desaturated blue */
  --ring: 212.7 26.8% 83.9%;

  --success: 196 100% 14%; /* Very dark blue. */
  --warning: 34 51% 25%; /* Very dark orange [Brown tone].*/
  --error: 10 39% 43%; /* Dark moderate red. */
}



html {
opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
opacity: initial;
}


.bg-navy {
background-color: var(--navy);
}


